<div class="jumbotron">
  <div class="container">

        <h1>
          By Odins beard! Valhalla awaits.
        </h1>
        <%= link_to '<span class="glyphicon glyphicon-user" aria-hidden="true"></span> Sign up'.html_safe, new_user_registration_path, class: "btn btn-primary btn-lg" %>

        <%= link_to "Sign in", new_user_session_path, class: "btn btn-success btn-lg" %>

  </div>
</div>
