<div class="container">
  <div class="row">
    <div class="col-sm-4 well">
      <h3>Profile info</h3>
      <p><%= @user.profile.full_name %></p>
      <p><%= @user.profile.hometown %></p>
    </div>

    <div class="col-sm-8">
      <%= render partial: 'posts/post_form' %>

      <!-- start a post -->
      <%= render partial: 'posts/post', collection: @posts %>

    </div>
  </div>
</div>
