<div class="container">
  <div class="row">
    <div class="col-sm-4 well">
      <h3>Profile info</h3>
      <p><%= @user.email %></p>
    </div>

    <div class="col-sm-8">
      <%= render partial: 'posts/post_form' %>

      <!-- start a post -->
      <%= render partial: 'posts/post', collection: @posts %>

    </div>
  </div>
</div>
