<div class="container">
  <div class="row">
    <%= render partial: 'profiles/user_profile' %>

    <div class="col-sm-8">
      <%= render partial: 'posts/post_form' %>

      <%= render partial: 'posts/post', collection: @posts %>

    </div>
  </div>
</div>
